body {
    font-family: monospace;
}
header {
    display: flex;
    height: 100px;
    background-color: lightblue;    
    align-items: center;
    justify-content: center;
}
main {
    border: 2px solid;
    max-width: 90vw;
    margin: 1em auto;
    border-radius: 5px;
    padding: 0.5em 1.5em;
}

span {
    font-size: 55px;
}
.content {
    text-align: center;
    border: 1px;
}
.persegi {
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
}
.panjang {
    text-align: center;
    padding: 10px;
}
h3 {
    font-size: 30px;
    display: flex;
    height: 100px;
    background-color: lightblue;    
    align-items: center;
    justify-content: center;
}
.description {
    text-align: left;
}