body {
    font-family: monospace;
}
header {
    display: flex;
    height: 100px;
    background-color: lightblue;    
    align-items: center;
    justify-content: center;
}
main {
    border: 2px solid;
    max-width: 90vw;
    margin: 1em auto;
    border-radius: 5px;
    padding: 0.5em 1.5em;
}

span {
    font-size: 55px;
}
.content {
    text-align: center;
    border: 1px;
}
.persegi {
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
}
.panjang {
    text-align: center;
    padding: 10px;
}
.title-color {
    font-size: 30px;
    display: flex;
    height: 100px;
    background-color: lightblue;    
    align-items: center;
    justify-content: center;
}
.description {
    text-align: left;
}
.title {
    font-size: 30px;
    display: flex;
    height: 100px;    
    align-items: center;
    justify-content: center;
}
#number {
    width: 95%;
    height: 50px;
    border: 2px solid;
    border-radius: 5px;
}
.button-submit, .button-reset {
    display: flex;
    padding: 1em 2em;
    width: 100%;
    max-width: 150px;
    margin: 15px auto;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    justify-content: center;
    transform: translateY 50%;
    transition: none translateY 50px yellow;
}